* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  height:100vh;
}
body {
  display: grid;
  grid-template-rows: min-content auto min-content;
  text-align: center;
}

header,
footer {
  background-color: rgb(167, 227, 227);
}

header,
footer,
.gallery {
  padding: 10px;
  font-size: 1.5rem;
}


.gallery {
  background-color: #ffd966;
  display: flex;
  flex-flow: row wrap;
  border: 2px solid black;
}
