html {
    font-family: sans-serif;   
    background-color: rgb(23, 23, 26);
      }



  .controls, .results {
    flex: 1;
    padding: 10px;
  }

  form p:nth-of-type(1) {
    margin-top: 5px;
  }
  ::placeholder {
    color: cadetblue;
    opacity: 1;}

  h1 {
    font-size: 35px;
    text-align: center;
    background: -webkit-linear-gradient(180deg, cadetblue 9%, rgba(27,104,119,1) 75%, cadetblue 98%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  }

  h2 {
    font-size: 25px;
    text-align: center;
    color:lightgray
  }
  h3 {
    padding-left: 25px;
    font-size: 35px;
    text-align: left;
    background: -webkit-linear-gradient(180deg, cadetblue 9%, rgba(27,104,119,1) 75%, cadetblue 98%);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }

  article p {
    
    font-size: 16px;
    text-align: center;
    color:cadetblue;
    
  }
  nav {
    margin-bottom: 1px;
  }

  article {
    display: inline-block;
   vertical-align: center;
   padding: 0 0 0 5px;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
    flex-direction: row;
    justify-content: flex-start;
    align-content: baseline;
    padding: 25px;    
    margin: 65px;
    background-color: rgb(34, 33, 33);
    border: 1px solid rgb(128, 128, 128);
    border-radius: 34px;
  }

  img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    border: 2px groove white;
  }

  




@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://raw.github.com/FortAwesome/Font-Awesome/master/docs/assets/css/font-awesome.min.css);

body {
	/* background: rgb(70, 70, 70); */
  background-image: url('./assets/bg.png');
  
background-attachment: fixed;
  font-size: 15px;
  border: 2px solid cadetblue;
  border-radius: 9px;
}
#wrap {
  /* margin: 50px 100px; */
  display: inside;
  position: relative;
  height: 60px;
  float: center;
  padding: 5px;
  position: relative;
  color: cadetblue;
}

input[type="text"] {
  height: 60px;
  font-size: 55px;
  display: inline-block;
  font-family: "Lato";
  font-weight: 100;
  border: none;
  outline: none;
  color: cadetblue;
  padding: 3px;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

input[type="text"]:focus:hover {
  border-bottom: 1px solid rgb(253, 12, 12);
}

input[type="text"]:focus {
  width: 600px;
  z-index: 1;
  border-bottom: 1px solid cadetblue;
  cursor: text;
}
input[type="submit"] {
  height: 67px;
  width: 63px;
  display: inline-block;
  color:white;

  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0.4;
  cursor: pointer;
 }



/* loading spinner */

.container {
  max-width: 550px;
  margin: auto;
  padding: 0 1rem;
}
textarea {
  width: 100%;
  height: 8rem;
}
button {
  margin: 2rem 0;
  width: 100%;
  padding: 8px 0;
  cursor: pointer;
}
#loading {
  width: 2rem;
  height: 2rem;
  border: 5px solid rgb(248, 246, 246);
  border-top: 6px solid cadetblue;
  border-radius: 100%;
  margin: auto;
  visibility: hidden;
  animation: spin 1s infinite linear;
}
#loading.display {
  visibility: visible;
}
@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}